$pertikali: hsl(35, 100%, 74%);

.bigTitle {
  margin: 5px;
  font-size: calc(2em + 7vw);
  text-align: center;
}

h2 {
  display: inline;
  color: $pertikali;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
}

.how-it-works {
  background-color: $pertikali;
  padding-bottom: 40px;
}

.image100 {
  max-width: 570px;
}

.nav-bar li {
  background-color: $pertikali;
  display: inline;
  margin-left: 10px;
  padding-top: 12px;
  border-radius: 25px;
}

.nav-bar li a {
  color: black;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  z-index: 10;
  top: 0;
  height: 50px;
}

.how-it-works h2 {
  color: white;
}

.newsletter {
  background-color: $pertikali;
}

.priceBox {
  //height: 300px;

  h6,
  h3 {
    color: $pertikali;
  }
}

.priceBox:hover {
  background-color: $pertikali;

  h6,
  h3 {
    color: white;
  }
}
