// Bootstrap variable overrides
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
$dark: #883333;

@import "bootstrap";

main {
  margin-top: 100px;
}

html,
body,
#root {
  height: 100%;
}

#project1 {
  $bgColor: red;
  $navBarFg: rgb(238, 182, 98);

  #body {
    background-color: $navBarFg;
  }

  .navbar {
    a {
      color: $navBarFg;
      &:hover {
        color: darken($navBarFg, 30%);
      }
    }
  }
}
