// Bootstrap variable overrides
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
$dark: #883333;

@import "bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  height: 100%;
}

#project1 {
  $bgColor: red;
  $navBarFg: white;

  @media screen and (max-width: 450px) {
    body {
      background: $bgColor;
    }
  }

  .navbar {
    a {
      color: $navBarFg;
      &:hover {
        color: darken($navBarFg, 30%);
      }
    }
  }

  main {
    padding: 50px;
  }
}
